/* Main container for the home page */
.home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    z-index: 1;
  }
  
  /* Home header */
  .home-header {
    text-align: center;
    padding-top: 110px;
    z-index: 2;
    position: relative;
    color: #2d2e2e;
  }
  
  .home-header h1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 8px;
    animation: fadeIn 1.5s ease-in-out;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  }
  
  .home-header p {
    font-size: 1.3rem;
    font-weight: 300;
    animation: fadeIn 1.5s ease-in-out 0.5s;
    margin-top: 5px;
  }
  
  /* Call to action buttons */
  .cta-section {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
  }
  
  .cta-button {
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    background: linear-gradient(135deg, #f1c40f, #8e44ad); /* Gold to purple gradient */
    color: white;
    cursor: pointer;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  }
  
  .cta-button:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
  }
  
  .cta-button:active {
    transform: translateY(0);
    box-shadow: none;
  }
  
  /* Footer */
  .footer {
    text-align: center;
    margin-top: auto;
    padding: 1rem;
    background-color: #9ac5f0;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: #03011a; /* Gold color */
  }
  
  /* Footer text animation */
  .footer p {
    animation: fadeIn 1.5s ease-in-out;
    opacity: 1;
    margin: 0px;
  }
  
  /* Animations */
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .spline-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* Place it behind everything else */
    overflow: hidden;
  }
  